
html {
   background-color: beige;
   scrollbar-color: darkgreen beige;


}

.containerd {
  
   display: grid;
   grid-template-columns: 1fr 100px 100px 100px 100px 100px 100px 1fr;
   grid-template-rows:30px 30px 30px 30px;
   
}


h1 {
font-family: monospace ;
color: darkgreen;
font-style: italic;
 text-align: center;
 font-size: 80px;
 background-color: beige;
 text-shadow: 20%;
}

#one {
grid-row: 2/2;
grid-column: 2/2;
transform: rotate(350deg);

}

#two  {
 grid-row: 3/3;
 grid-column: 3/3;
 transform: rotate(10deg);
}

#three {
  grid-row: 2/2;
  grid-column: 4/4;
  transform: rotate(350deg);
}

#four {
  grid-row: 3/3;
  grid-column: 5/5;
  transform: rotate(10deg);
}

#five  {
  grid-row: 2/2;
  grid-column: 6/6;
  transform: rotate(355deg);
}


.container {

  background-color:darkgreen;
  margin-top: 20%;
   display: grid;
   grid-template-columns: repeat(30, 85px) ;
   grid-template-rows: 250px;
   margin-bottom: 10%;
   margin-right: 3%;
   margin-left: 3%;
   overflow-y: hidden;
   overflow-x: scroll;
   border-radius: 50px;
   

}


h2 {
  font-family: monospace ;
  font-style: italic;
  color: darkgreen;
  font-size: 50px;
  text-align: center;

}

p {
  font-family: monospace;
  color: darkgreen;
  font-size: 25px;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;


}

.container2 {
  display: grid;
  justify-content: center;
  column-gap: 2px;
  grid-template-columns: 420px 420px 420px;
  grid-template-rows: 700px;
  
}

#ruimte1 {
  grid-column: 1/1;
  grid-row: 1/1;
  width: 400px;

}
#ruimte2 {
  grid-column: 2/2;
  grid-row: 1/1;
  width: 400px;

}
#ruimte3 {
  grid-column: 3/3;
  grid-row: 1/1;
  width: 400px;
}

@media screen and (max-width: 690px) {h1
{
 font-size: 60px;
 text-align: center;

}
} 

@media screen and (max-width: 690px)  {.containerd
  { 
    display: grid;
    grid-template-columns: 1fr 60px 60px 60px 60px 60px 60px 1fr;
    grid-template-rows:30px 30px 30px 30px;
    
 } 
 }
 
@media screen and (max-width: 690px)  {#one
 { width: 115px;
   grid-column: 2/2;
} 
}

@media screen and (max-width: 690px)  {#two
  { width: 115px;
    grid-column: 3/3;
 } 
 }

 @media screen and (max-width: 690px)  {#three
  { width: 115px;
    grid-column: 4/4;
 } 
 }

 @media screen and (max-width: 690px)  {#four
  { width: 115px;
    grid-column: 5/5;
 } 
 }
 @media screen and (max-width: 690px)  {#five
  { width: 115px;
    grid-column: 6/6;
 } 
 }

 @media screen and (max-width: 690px) {h2
 { font-size: 40px;
}
}

@media screen and (max-width: 690px) {p
 { font-size: 30px;

}
}

@media screen and (max-width: 1250px) {.container2
  {  display: grid;
    justify-content: center;
    column-gap: 20px;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 400px;


  }
}
  
@media screen and (max-width: 1250px) {#ruimte1
  {
    grid-column: 1/1 ;
    grid-row: 1/1;
    width: 230px;

  }
}

@media screen and (max-width: 1250px) {#ruimte2
  {
    grid-column: 2/2 ;
    grid-row: 1/1;
    width: 230px;
  }
}

@media screen and (max-width: 1250px) {#ruimte3
  {
    grid-column: 3/3 ;
    grid-row: 1/1;
    width: 230px;
  }
}
@media screen and (max-width: 750px) {.container2
  {  display: grid;
    justify-content: center;
    column-gap: 20px;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 200px;


  }
}
  
@media screen and (max-width: 750px) {#ruimte1
  {
    grid-column: 1/1 ;
    grid-row: 1/1;
    width: 130px;

  }
}

@media screen and (max-width: 750px) {#ruimte2
  {
    grid-column: 2/2 ;
    grid-row: 1/1;
    width: 130px;
  }
}

@media screen and (max-width: 750px) {#ruimte3
  {
    grid-column: 3/3 ;
    grid-row: 1/1;
    width: 130px;
  }
}


