

header {
 
  background-color: rgb(211, 48, 48);
  margin-top: 5%;
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(75px, 1fr ) );
  
 
}

.container {

  background-color: rgb(71, 8, 8);
  margin-top: 10%;
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(75px, 1fr ) );

}



h1 {
  
  text-align: center;
}



h2 {
  
  font-size: 50px;
  text-align: center;

}

p {
 
  font-size: 50px;
  text-align: center;


}



  




