header {
    margin-top: 20px;  
    background-color: blueviolet;
     height: 50px;
    
  

}

h1 {text-align: center;
    font-style: oblique;
}

h2{ 
    text-align:center;
}

body{
text-align: center;
background-color: mediumspringgreen;

}


.container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(75px, 1fr ) );
    text-align: center;
    margin-top: 5%;
    margin-bottom:15% ;
    grid-template-columns: 1fr 100px 100px 100px 100px 100px 1fr;
    
    
}






.one{
    
    grid-column:2/2 ;
  
    

}
.two{
    grid-column: 3/3;
    
}
.three{
    grid-column: 4/4;
   
}
.four{
    grid-column: 5/5;
  
}
.docent5{
    grid-column: 6/6;
   
}



.container2 {
    display: grid;
    grid-template-columns: repeat(30, 85px);
    text-align: center;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
     display: grid;
     background-color: blueviolet;
     overflow-y: hidden;
     overflow-x: scroll;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
        
margin-top: 10px;
margin-left: 70px;
margin-right: 70px;

    }

    .container4{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        text-align: center;
        gap: 1%;
        margin-top: 10px;
        justify-content: center;
    }

    .foto1{
        text-align: center;
  
        p {
            margin-left: 15%;
            margin-right: 15%;
text-align: center;
justify-content: center;
        }

        img { object-fit: contain; width: 100%; }

     
    }
    .foto2{
        text-align: center;

        p {
            margin-left: 15%;
            margin-right: 15%;
            text-align: center;
            justify-content: center;
                    }
                    img { object-fit: contain; width: 100%; }

    }
    .foto3{
        
text-align: center;

p {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    justify-content: center;
            }
            img { object-fit: contain; width: 100%; }

    }

    footer{
        background-color: blueviolet;
        height: 50px;
        margin-top: 120px;
        margin-bottom: 20px;
    }

    