::-webkit-scrollbar {
    width: 0.3cm;
    height: 0.3cm;
   }
   
  ::-webkit-scrollbar-track {
    background:rgb(0, 0, 0);
    border-radius: 20px;
   }
   
  ::-webkit-scrollbar-thumb {
     background:rgb(0, 204, 255);
     border-radius: 20px;
  }
  .container::-webkit-scrollbar {
    width: 0.3cm;
   }
   
  .container::-webkit-scrollbar-track {
    background:rgb(0, 0, 0);
    border-radius: 20px;
   }
   
  .container::-webkit-scrollbar-thumb {
     background:rgb(0, 204, 255);
     border-radius: 20px;
  }


     .header{
background-color: rgb(0, 204, 255);
transition-duration: 1s;
display: grid;
justify-content: center; 
align-items: center;
height: 100px;
margin: auto;
width: max-content;
background-color: rgb(0, 204, 255);
width:400px ;
border-radius: 20px;
margin-top: 4em;

}
.header:hover{
   height: 150px;
   width: 600px;
}

h1 {
color: black;
font-size: 50px;
transition-duration: 1s;
margin: auto;
font-family: "Raleway", sans-serif;
font-weight:bold;
}

h1:hover{
font-size:80px;

}

body{
    background-color: black;
}

.container{
    background-color:black;
    margin-top: 20%;
     margin-top: 20%;
     display: grid;
     grid-template-columns: repeat(30, 130px) ;
     grid-template-rows: 250px;
     margin-bottom: 10%;
     margin-right: 3%;
     margin-left: 3%;
     overflow-y: hidden;
     overflow-x: scroll;
     border-radius: 50px;

}


.container2{
display: grid;
grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: 8%;
margin-left: 5%;
margin-right: 5%;
background-color:rgb(0, 204, 255);
padding: 6%;
border-radius: 20px;

        p{
            object-fit: contain; width: 100%; 
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-family: "Raleway", sans-serif;
            margin-bottom: -3%;

        
            
            
        }
        h2{
             object-fit: contain; width: 100%; 
            color: rgb(0, 0, 0);
            font-family: "Raleway", sans-serif;
            font-size: 30px;
            font-weight:bold;
            margin-top: -1%;
            
        }
}
.container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
        text-align: center;
        gap: 1%;
        margin-top: 8%;
        justify-content: center;
}
.foto1{
    img { object-fit: contain; width: 100%; }
}
.foto2{
    img { object-fit: contain; width: 100%; }
}
.foto3{
    img { object-fit: contain; width: 100%; }
}
.foto4{
    img { object-fit: contain; width: 100%; }
}

footer{
    height: 40px;
    background-color:rgb(0, 204, 255);
    margin-top: 8%;
    text-align: center;
    padding: 40px;

}

#footertekst {
 font-size: 20px;
 font-family: "Raleway", sans-serif;
 text-align: center;

 


}

@media screen and (max-width: 500px) {.header
{ 
    width: 300px;
    height: 75px;
      
} }

@media screen and (max-width: 650px) {.header:hover
{
   width: 350px;
   height: 85px;
} }
@media screen and (max-width: 500px) {h1
{
   font-size: 35px;
} }

@media screen and (max-width: 650px) {h1:hover
{  font-size: 40px;

} }

